.projects {
    padding: 5rem 0;
    position: relative;

    .divider {
        margin-bottom: 0;
    }
}

.projects--head{
    text-align: center;
}

.project {
    margin: 5rem 0 20rem 0; 
    display: flex;
    @media screen and (max-width: 768px) {
        margin-bottom: 10rem;
        display: block;
    }
    position: relative;

    &:last-child {
        margin-bottom: 10rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &.animated {
        .project--image {
            animation: setBoxshadow .1s .3s ease-out forwards running; 
            img {
                animation: setOpacity .1s .3s ease-out forwards running;    
            }
            &:before{
                animation: test .5s ease-out running;
            }
        }
        .project--content {
            animation: slideIn .5s ease-out forwards running;   
        }
        .project--img__wrapper {
            &:after {
                animation: setHeight .1s .4s ease-in-out forwards running;     
            }
        }
    } 

    &.project--ltr.animated {
        .project--image {
            animation: positionLeft .3s .3s cubic-bezier(.5,0,.4,1) forwards running;    
        }
    }
    &.project--rtl.animated {
        .project--image {
            animation: positionRight .3s .3s cubic-bezier(.5,0,.4,1) forwards running;    
        }
    }
}

.project--img__wrapper {
    flex: 0 1 auto;
    width: 55%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    position: relative;
    &:after{ 
        content: '';
        position: absolute;
        top: 2rem;
        width: 100%;
        height: 0;
        display: block;
        z-index: -1;
        background: $gradient3;
        background: linear-gradient(45deg, $gradient4 0%,$gradient3 100%);
    }
}

.project--ltr {
    .project--img__wrapper {
        &:after {
            left: -2rem;
        }
    }
    .project--image {
        top: 2rem;
        left: -2rem;
    }
}

.project--rtl {
    .project--img__wrapper {
        &:after {
            right: -2rem;
        }
    }
    .project--image {
        top: 2rem;
        right: -2rem;
    }
}

.project--image{
    overflow: hidden;
    position: relative;

    img{
        max-width: 100%;
        opacity: 0;
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.position--left {
            object-position: left;
        }

        &.position--right {
            object-position: right;
        }
    }

    &:before{
        opacity: 0;
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222;
    }
}

.project--content{
    flex: 0 1 auto; 
    width: 45%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    align-self: center;
    z-index: 2;
    opacity: 0;
    margin-top: 10rem;

    h2{
        font-family: $head;
        font-size: 7.6rem;
        margin-left: -8rem; 
        color: $headColor; 
        @media screen and (max-width: 768px) {
            margin: -4rem 0 0 -2rem;
            padding: 2rem;
            display: inline-block;
            background: $brokenWhite;
            font-size: 9vw;
        }
    }

    p{
        padding: 4rem;
        font-size: 1.8rem; 
        color: $baseColor;
        line-height: 2.4rem;
        //margin-left: -4rem;
        max-width: 80%;
        @media screen and (max-width: 768px) {
            max-width: 100%;
            padding: 0;
        }
    }
}

.project--link{
    position: relative;
    padding: 5rem 0 0 4rem;
    clear: both;
    @media screen and (max-width: 768px) {
        padding: 2rem 0 0 0;
    }
}

.button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(45deg, $gradient2 0%, $gradient1 100%); 
    color: $white;
    width: 9.5rem;
    text-align: left;
    height: 5rem;
    line-height: 5rem;
    padding: 0 3.5rem 0 2rem;
    border: none;

    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 2.5rem;
        height: 0.2rem;
        background: $white;
        //animation: slideThrough .2s cubic-bezier(0.18, 0.89, 0.32, 1.28) running;
    }

    &:hover{
        &:before{
            animation: slideThrough .5s cubic-bezier(0.58, 1.91, 0, 0.57);
        }
    }
}

.project--link__border{
    z-index: -1;
    display: block;
    position: absolute;
    top: .5rem;
    left: .5rem;
    background: transparent;
    width: 14.6rem;
    height: 4.6rem;
    border: .2rem solid #222;
    border-image: linear-gradient(to right, $gradient2 0%, $gradient1 100%);
    border-image-slice: 1;
    display: none;
}

.project--rtl{
    text-align: right;
    flex-direction: row-reverse;
    .project--content{
        h2{
            margin-right: -8rem;
            margin-left: 0;
            @media screen and (max-width: 768px) {
                margin: -4rem -2rem 0 0;
            }
        }

        p{
            float: right;
            clear: both;
        }
    }
    .project--link{
        padding: 5rem 4rem 0 0;
        @media screen and (max-width: 768px) {
            padding: 2rem 0 0 0; 
        }
    }
    .project--link__border {
        right: -.5rem;
        left: auto;
    }
}