$head: 'gilroy', helvetica neue, sans-serif; 
$base: 'Roboto', helvetica neue, sans-serif;

$gradient1: #E08677;
$gradient2: #8132A0;
$gradient3: #21D4DC;
$gradient4: #1c74b5;

$baseColor: #868686;
$linkColor: #222222;
$headColor: #222222;
$white: #FFFFFF;
$brokenWhite: #F5F5F5;

$error: #b91616;
