@import '../../global/scss/variables';
@import '../../global/scss/animations';
@import '../../global/scss/fonts';

.projects {
  padding: 5rem 0;
  position: relative;
  transition: transform 0.25s;
  will-change: transform;

  .divider {
    margin-bottom: 0;
  }
}

.projects--head {
  text-align: center;
}

.project {
  display: flex;
  margin: 5rem 0 20rem;
  @media screen and (max-width: 768px) {
    display: block;
    margin-bottom: 10rem;
  }
  position: relative;

  &:first-child {
    margin-top: 10rem;
  }

  &:last-child {
    margin-bottom: 10rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &.animated {
    .project--image {
      animation: setBoxshadow .1s .3s ease-out forwards running;

      img {
        animation: setOpacity .1s .3s ease-out forwards running;
      }

      &::before {
        animation: test .5s ease-out running;
      }
    }

    .project--content {
      animation: slideIn .5s ease-out forwards running;
    }

    .project--img__wrapper {
      &:after {
        animation: setHeight .1s .4s ease-in-out forwards running;
      }
    }
  }

  &.project--ltr.animated {
    .project--image {
      animation: positionLeft 0.3s 0.3s cubic-bezier(0.5, 0, 0.4, 1) forwards
        running;
    }
  }

  &.project--rtl.animated {
    .project--image {
      animation: positionRight 0.3s 0.3s cubic-bezier(0.5, 0, 0.4, 1) forwards
        running;
    }
  }
}

.project--img__wrapper {
  flex: 0 1 auto;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  width: 55%;
  &:after {
    background: $gradient3;
    background: linear-gradient(45deg, $gradient4 0%, $gradient3 100%);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 2rem;
    width: 100%;
    z-index: -1;
  }
}

.project--ltr {
  .project--img__wrapper {
    &:after {
      left: -2rem;
    }
  }

  .project--image {
    left: -2rem;
    top: 2rem;
  }
}

.project--rtl {
  .project--img__wrapper {
    &:after {
      right: -2rem;
    }
  }

  .project--image {
    right: -2rem;
    top: 2rem;
  }
}

.project--image {
  overflow: hidden;
  position: relative;

  img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;

    &.position--left {
      object-position: left;
    }

    &.position--right {
      object-position: right;
    }
  }

  &:before {
    background: $link-color;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 1;
  }
}

.project--content {
  display: flex;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  flex: 0 1 auto;
  flex-direction: column;
  opacity: 0;
  padding-top: 10rem;
  width: 45%;
  z-index: 2;

  h2 {
    color: $head-color;
    font-family: $head;
    font-size: 7.6rem;
    margin-left: -8rem;
    @media screen and (max-width: 768px) {
      background: $broken-white;
      display: inline-block;
      font-size: 9vw;
      margin: -4rem 0 0 -2rem;
      padding: 2rem;
    }
  }

  p {
    color: $base-color;
    font-size: 1.8rem;
    line-height: 2.4rem;
    //margin-left: -4rem;
    padding: 4rem;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
  }
}

.project--link {
  clear: both;
  margin: 5rem 0 0 4rem;
  position: relative;
  @media screen and (max-width: 768px) {
    margin: 2rem 0 0 0;
  }
}

.link {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  position: relative;
  transition: all .25s ease-out;
  z-index: 1;

  &::before {
    background: linear-gradient(to right, $gradient2 0%, $gradient1 100%);
    bottom: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    height: .2rem;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    top: 1px;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 1s cubic-bezier(.835, -.005, .06, 1), opacity 1s cubic-bezier(.835, -.005, .06, 1);
    vertical-align: middle;
    width: 3rem;
  }

  &:hover {
    .link--arrow {
      &::before {
        transform: scaleX(0);
      }
    }

    .link--text {
      transform: translateX(5rem);
    }

    &::before {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.link--text {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(left, $gradient2, $gradient1);
  background-clip: text;
  background-color: transparent;
  display: inline-block;
  margin-right: 3rem;
  transition: transform 1s cubic-bezier(.835, -.005, .06, 1);
}

.link--arrow {
  display: inline-block;

  &::before {
    background: linear-gradient(to right, $gradient2 0%, $gradient1 100%);
    bottom: 0;
    content: '';
    display: inline-block;
    height: .2rem;
    position: relative;
    top: -1px;
    transform: scaleX(1);
    transform-origin: 100% 0;
    transition: transform 1s cubic-bezier(.835, -.005, .06, 1);
    vertical-align: middle;
    width: 3rem;
  }

  &::after {
    background: transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid $gradient1;
    border-top: .5rem solid transparent;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 0;
    margin: auto;
    position: absolute;
    top: .1rem;
    width: 0;
  }
}

.project--rtl {
  flex-direction: row-reverse;
  text-align: right;
  .project--content {
    h2 {
      margin-left: 0;
      margin-right: -8rem;
      @media screen and (max-width: 768px) {
        margin: -4rem -2rem 0 0;
      }
    }

    p {
      clear: both;
      float: right;
    }
  }

  .project--link {
    margin: 5rem 4rem 0 0;
    @media screen and (max-width: 768px) {
      margin: 2rem 0 0 0;
    }
  }
}
