
/**
 * Burger
 */

 @mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
  $burger-gutter: $gutter !global;
  $burger-height: $height !global;

  margin-bottom: $height + $gutter;
  margin-top: $height + $gutter;
  position: relative;

  &, &:before, &:after {
      background-color: $color;
      height: $height;
      transition-duration: $transition-duration;
      @if $border-radius != 0 {
          border-radius: $border-radius;
      }
      
      transition-property: background-color, transform;
      width: $width;
  }

  &:before, &:after {
      content: "";
      display: block;
      position: absolute;
  }

  &:before {
      top: -($height + $gutter);
  }

  &:after {
      top: $height + $gutter;
  }
}


/**
* Select parts of the burger
*/

@mixin burger-parts {
  &, &:before, &:after {
      @content;
  }
}

@mixin burger-top {
  &:before {
      @content;
  }
}

@mixin burger-middle {
  & {
      @content;
  }
}

@mixin burger-bottom {
  &:after {
      @content;
  }
}


/**
* Burger animations
*/

@mixin burger-to-cross { 
  & {
      background-color: transparent;
  }

  &:before {
      -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      transform: translateY($burger-gutter + $burger-height) rotate(45deg);
  }

  &:after {
      -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
  }
}
