.contact {
    min-height: calc(100vh - 15rem);
    overflow: hidden;
    padding: 10rem 0 5rem 0;
    position: relative;
}

.contact--head {
    text-align: center;
}

.contact--content {
    margin: 0 auto;
    max-width: 65rem;

    .button {
        border-radius: 0;
        cursor: pointer;
        font-size: 1.6rem;
        height: 4rem;
        line-height: 4rem;
        outline: none;
    }

    p {
        line-height: 2.2rem;
        margin-bottom: 5rem;
    } 
}

form {
    transition: all .25s ease-out;

    &.hidden {
        opacity: 0;
    }

    &.removed {
        display: none;
    }
}

.input--line, textarea {
    background: transparent; 
    border: 0;
    border-bottom: .1rem solid $baseColor;
    display: block;
    font-size: 1.6rem;
    outline: none;
    padding: 1rem 0;
    transition: all .25s ease-out;
    width: 100%;

    &.error {
        border-bottom: .1rem solid $error;
    }
  
    &:focus {
        border-bottom-color: #222;
        //border: .2rem solid #222;
        border-image: linear-gradient(to right, $gradient4 0%, $gradient3 100%);
        border-image-slice: 1;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        + label {
            color: #222;
            font-size: 1.4rem;
            top: -1.5rem;
        }
    }
}

textarea {
    resize: none;
}
  
.input--wrapper{
    margin-bottom: 4rem;
    position: relative;
    &:last-child{
        margin-bottom: 0;
    }
}
  
.input--label{
    color: $baseColor;
    cursor: text;
    font-size: 1.6rem;
    left: 0;
    position: absolute;
    text-align: left;
    top: 1rem;
    transition: all .25s ease-out;

    &.sticky {
        color: #222;
        font-size: 1.4rem;
        top: -1.5rem !important;
    }
}

.contact--links {
    padding: 5rem 0;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .info--link {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: auto;
    }

    li {
        &:first-child {
            a {
                width: 7.4rem;
            }
        }

        &:nth-child(2) {
            a {
                width: 7.7rem;
            }
        }

        &:last-child {
            a {
                width: 5.1rem;
            }
        }
    }
}

input#date {
    display: none;
}

.error--message {
    bottom: -4rem;
    color: $error;
    position: absolute;
    right: 0;
    @media screen and (max-width: 420px) {
        font-size: 1.4rem;
    }
}

.success--message {
    line-height: 2.4rem;
    opacity: 0;
    transition: all .25s ease-out;

    &.shown {
        opacity: 1;
    }

    &.removed {
        display: none;
    }
}

.contact--content .contact--intro {
    line-height: 2.6rem; 
}
