.projects {
  padding: 5rem 0;
  position: relative;
  transition: transform 0.25s;
  will-change: transform;

  .divider {
    margin-bottom: 0;
  }
}

.projects--head {
  text-align: center;
}

.project {
  display: flex;
  margin: 5rem 0 20rem;
  @media screen and (max-width: 768px) {
    display: block;
    margin-bottom: 10rem;
  }
  position: relative;

  &:last-child {
    margin-bottom: 10rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &.animated {
    .project--image {
      animation: setBoxshadow .1s .3s ease-out forwards running;

      img {
        animation: setOpacity .1s .3s ease-out forwards running;
      }

      &::before {
        animation: test .5s ease-out running;
      }
    }

    .project--content {
      animation: slideIn .5s ease-out forwards running;
    }

    .project--img__wrapper {
      &:after {
        animation: setHeight .1s .4s ease-in-out forwards running;
      }
    }
  }

  &.project--ltr.animated {
    .project--image {
      animation: positionLeft 0.3s 0.3s cubic-bezier(0.5, 0, 0.4, 1) forwards
        running;
    }
  }

  &.project--rtl.animated {
    .project--image {
      animation: positionRight 0.3s 0.3s cubic-bezier(0.5, 0, 0.4, 1) forwards
        running;
    }
  }
}

.project--img__wrapper {
  flex: 0 1 auto;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  width: 55%;
  &:after {
    background: $gradient3;
    background: linear-gradient(45deg, $gradient4 0%, $gradient3 100%);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 2rem;
    width: 100%;
    z-index: -1;
  }
}

.project--ltr {
  .project--img__wrapper {
    &:after {
      left: -2rem;
    }
  }

  .project--image {
    left: -2rem;
    top: 2rem;
  }
}

.project--rtl {
  .project--img__wrapper {
    &:after {
      right: -2rem;
    }
  }

  .project--image {
    right: -2rem;
    top: 2rem;
  }
}

.project--image {
  overflow: hidden;
  position: relative;

  img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;

    &.position--left {
      object-position: left;
    }

    &.position--right {
      object-position: right;
    }
  }

  &:before {
    background: #222;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 1;
  }
}

.project--content {
  align-self: center;
  flex: 0 1 auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin-top: 10rem;
  opacity: 0;
  width: 45%;
  z-index: 2;

  h2 {
    color: $headColor;
    font-family: $head;
    font-size: 7.6rem;
    margin-left: -8rem;
    @media screen and (max-width: 768px) {
      background: $brokenWhite;
      display: inline-block;
      font-size: 9vw;
      margin: -4rem 0 0 -2rem;
      padding: 2rem;
    }
  }

  p {
    color: $baseColor;
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-width: 80%;
    //margin-left: -4rem;
    padding: 4rem;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
  }
}

.project--link {
  clear: both;
  padding: 5rem 0 0 4rem;
  position: relative;
  @media screen and (max-width: 768px) {
    padding: 2rem 0 0 0;
  }
}

.button {
  background: linear-gradient(45deg, $gradient2 0%, $gradient1 100%);
  border: 0;
  color: $white;
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  overflow: hidden;
  padding: 0 3.5rem 0 2rem;
  position: relative;
  text-align: left;
  width: 9.5rem;

  &:before {
    background: $white;
    bottom: 0;
    content: "";
    display: block;
    height: 0.2rem;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5rem;
    //animation: slideThrough .2s cubic-bezier(0.18, 0.89, 0.32, 1.28) running;
  }

  &:hover {
    &:before {
      animation: slideThrough 0.5s cubic-bezier(0.58, 1.91, 0, 0.57);
    }
  }
}

.project--link__border {
  background: transparent;
  border: 0.2rem solid #222;
  border-image: linear-gradient(to right, $gradient2 0%, $gradient1 100%);
  border-image-slice: 1;
  display: none;
  display: block;
  height: 4.6rem;
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
  width: 14.6rem;
  z-index: -1;
}

.project--rtl {
  flex-direction: row-reverse;
  text-align: right;
  .project--content {
    h2 {
      margin-left: 0;
      margin-right: -8rem;
      @media screen and (max-width: 768px) {
        margin: -4rem -2rem 0 0;
      }
    }

    p {
      clear: both;
      float: right;
    }
  }

  .project--link {
    padding: 5rem 4rem 0 0;
    @media screen and (max-width: 768px) {
      padding: 2rem 0 0 0;
    }
  }

  .project--link__border {
    left: auto;
    right: -0.5rem;
  }
}
