$head: 'gilroy', helvetica neue, sans-serif; 
$base: 'Roboto', helvetica neue, sans-serif;

$gradient1: #e08677;
$gradient2: #8132a0;
$gradient3: #21d4dc;
$gradient4: #1c74b5;

$baseColor: #868686;
$linkColor: #222;
$headColor: #222;
$white: #fff;
$brokenWhite: #f5f5f5;

$error: #b91616;
