.mobile--navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    z-index: 12;
    text-align: center;
    overflow: hidden; 

    &.hidden {
        display: none;
    }

    .overlay {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100vh;
        z-index: 13;
        background: #222;
    }

    .mobile--navigation__links {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100vh;
        width: 100%;

        &.bg-white {
            background: $white;
        }
    
        &.hidden {
            display: none;
        }

        &.animated {
            + .overlay {
                animation: x .5s ease-out forwards running;
            }
        }
    
        &.animate-out {
            + .overlay {
                animation: y .5s ease-out forwards running;
            }
        }
    }

    ul {
        position: absolute;
        display: inline-block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 28rem;
        width: 100%;

        li {
            margin-bottom: 2rem;
            overflow: hidden;

            &:first-child {
                a {
                    animation: down .5s .5s cubic-bezier(0,1,.5,1) forwards running;
                }
            }
            &:nth-child(2) {
                a {
                    animation: down .5s .75s cubic-bezier(0,1,.5,1) forwards running;
                }
            }
            &:last-child {
                a {
                    animation: down .5s 1s cubic-bezier(0,1,.5,1) forwards running;
                }
            }
        }
    }

    a{
        color: $linkColor;
        border-bottom: none;
        position: relative;
        font-size: 7rem;
        height: 8rem;
        font-family: $head;
        display: inline-block;
        top: -8rem;
        overflow-x: hidden;

        &:after{
            content: '';
            width: 100%;
            right: 100%;
            height: 1rem;
            display: block;
            position: absolute;
            margin-top: -.5rem;
            background: $gradient1;
            background: -moz-linear-gradient(left, $gradient2 0%, $gradient1 100%);
            background: -webkit-linear-gradient(left, $gradient2 0%,$gradient1 100%);
            background: linear-gradient(to right, $gradient2 0%,$gradient1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient2', endColorstr='$gradient1',GradientType=0 ); 
            transition: all .25s ease-out;
        }

        &.no-transition {
            &:after{
                transition: none;
            }
        }

        &:hover {
            background: -webkit-linear-gradient(left, $gradient2, $gradient1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:after{
                right: 0 !important;
            }
        }
    }
} 

#burger {
    @include burger(4rem, .3rem, .7rem, $headColor);
    //display: none;
    text-decoration: none;
}

#menu-link {
    position: fixed;
    z-index: 15;
    right: 3rem;
    top: 3rem;
    border: none;
    outline: none;
    display: none;

    &.active {
        #burger {
            @include burger-to-cross;
        }
    }

    @media screen and (max-width: 640px) {
        display: block;
    }
}